<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.dao.테이블dao"><!-- DeptDao의 메소드를 오버라이딩할 수 있도록 -->

	<select id="deptAll" resultType="com.demo.dto.객체타입"><!-- Dept객체로 저장할 수 있도록 -->
		select * from dept order by deptno
	</select>

</mapper>  